/* Wraps */

	.site-container {
	  width: 100%;

	}

	.wrap {
	  margin: 0 auto;
//	  max-width: 1152px;
	}

	.site-inner {
		@include clearfix;
		// @include rem(padding-top, 20px);
		padding-top: 5px;
	}
	

/* Containers and Columns */

	.content-sidebar-sidebar .sidebar-secondary,
	.sidebar-content .content,
	.sidebar-content-sidebar .content-sidebar-wrap,
	.sidebar-sidebar-content .content,
	.sidebar-sidebar-content .content-sidebar-wrap,
	.site-footer .creds,
	.site-header .widget-area,
	.sidebar-content-sidebar .sidebar-primary {
		float: right;
	}

	.five-sixths,
	.content-sidebar-sidebar .sidebar-primary,
	.four-fifths,
	.four-sixths,
	.one-fifth,
	.one-fourth,
	.one-half,div.contact-slider section.widget:nth-child(2),div.contact-slider section.widget:nth-child(3),
	.one-sixth,
	.one-third, #home-middle-01 article,
	.three-fifths,
	.three-fourths,
	.three-sixths,
	.two-fifths,
	.two-fourths,
	.two-sixths,
	.two-thirds,
	.sidebar-content .sidebar-primary,
	.sidebar-sidebar-content .sidebar-primary,
	.content-sidebar-sidebar .content,
	.site-footer .gototop,
	.sidebar-secondary,
	.title-area,
	.archive-page,
	.content-sidebar .content,
	.content-sidebar .sidebar-primary,
	.sidebar-content-sidebar .sidebar-secondary,
	.content-sidebar-sidebar .content,
	.sidebar-content-sidebar .content
	{
		float: left;
		margin-left: 2.564102564102564%;
	}



	.one-half,div.contact-slider section.widget:nth-child(2),div.contact-slider section.widget:nth-child(3)
	.three-sixths,
	.two-fourths,
	.content-sidebar-sidebar .content,
	.archive-page
	 {
			width: 48.717948717948715%;

	}

	.one-third,div#home-middle-001 article
	.two-sixths,
	.content-sidebar .sidebar-primary,
	.sidebar-content .sidebar-primary,
	.content-sidebar-sidebar .sidebar-primary,
	.sidebar-content-sidebar .sidebar-primary,
	.sidebar-sidebar-content .sidebar-primary,
	.title-area {
		width: percentage(352px / 1152px); /* 352px / 1152px */
	}

	.four-sixths,
	.two-thirds,
	.content-sidebar .content,
	.sidebar-content .content,
	.sidebar-content-sidebar .content,
	.sidebar-sidebar-content .content,
	.site-header .widget-area, {
		width: percentage(752px / 1152px); /* 752px / 1152px */
	}

	.one-fourth {
		width: percentage(286px / 1152px); /* 252px / 1152px */ //had to change it. this nuber shud come closer to %25
	}

	.three-fourths {
		width: percentage(852px / 1152px); /* 852px / 1152px */
	}

	.one-fifth {
		width: percentage(192px / 1152px); /* 192px / 1152px */
	}

	.two-fifths{
		width: percentage(432px / 1152px); /* 432px / 1152px */
	}

	.three-fifths {
		width: percentage(672px / 1152px); /* 672px / 1152px */
	}

	.four-fifths {
		width: percentage(912px / 1152px); /* 912px / 1152px */
	}

	.one-sixth, 
	.sidebar-secondary {
		width: percentage(152px / 1152px); /* 152px / 1152px */
	}

	.five-sixths,
	.sidebar-content-sidebar .content-sidebar-wrap,
	.sidebar-sidebar-content .content-sidebar-wrap {
		width: percentage(952px / 1152px); /* 952px / 1152px */
	}

	#home-middle-01 article:first-of-type,
	div#about-featured div.widget-wrap article.entry:first-of-type,
	.first,div.contact-slider section.widget:nth-child(2), 
	.content-sidebar-sidebar .content,
	.sidebar-content-sidebar .sidebar-secondary,
	.sidebar-sidebar-content .sidebar-secondary,
	.title-area,
	.content-sidebar .content,
	.sidebar-content .sidebar-primary,
	.sidebar-content-sidebar .content,
	.sidebar-sidebar-content .sidebar-primary {
		margin-left: 0;
		clear:both;
	}
.clients-container{
	position:relative !important;
	background-color:grey;
}

div.col-left{
	width:40% !important;
	padding:0 10pt 0 0 !important;
	float:left !important;
}
div.col-right{
	width:40% !important;
	padding:0 10pt 0 0 !important;
	float:right !important;
}
	.sidebar-content .sidebar-primary,
	.sidebar-content-sidebar .sidebar-secondary,
	.sidebar-sidebar-content .sidebar-secondary,
	.sidebar-sidebar-content .sidebar-primary {
		clear: none;
	}

	.archive-page {
		margin-left:0;
	}



/* Entry Content Structure */

	.entry,
	.page .post.entry {
	}
	main.content {
    	margin-top: -20px;
	}
	.page .entry {
		margin: 0;
	}
	// header.entry-header p.entry-meta {
 //    	display: none;
	// }

	aside.home-top,main.content article.entry,aside.our-clients-slider.clearfix {
		background-color: #e8ecef;
	}
	.entry-content,#listings-area {
	    overflow: hidden;
	    max-width: 875px;
	    text-align: center;
	    margin: 0 auto;
	}
.listings h2.entry-title{
	line-height:0px !important;
}	
	.textwidget {
	    text-align: center;
	    margin: auto 0;
	}
	#home-top {
	    max-width: 640px;
	    margin: auto;
	}

	div.wiget div.content article:last-child{
		clear:both;
	}

	footer.entry-footer p.entry-meta {
    	display: none;
	}
	aside#home-middle-01,section.widget,div#home-middle-01,slider.clearfix,aside.contact-slider.clearfix,aside.about-middle-01.clearfix,aside.team-members.clearfix {
	    max-width: 1150px;
	    margin: auto;
	}
	aside.home-middle-01.clearfix,.globe-bk{
		background-image:url('images/core-globe.png');
    	background-repeat: no-repeat;
    	background-position: right; 
	}
	section.widget div.widget-wrap div.widget div.content article div p{
		text-align: left;
	}
	div.contact-slider section.widget:nth-child(2) {
    margin: 35px 0px;
}

.testimonials div.site-container div.wrap div.content-sidebar-wrap main.content article.page.type-page{//just add testimonial to the body class in genesis per page settings to have the content background take on globe
		background-image:url('images/testimonial-core-globe.png');
    	background-repeat: no-repeat;
    	background-position: right; 
	}
.testimonials aside.home-middle-01.clearfix .soliloquy-pager.soliloquy-default-pager{
	display: none;
}
.testimonials aside.home-middle-01.clearfix {
    background: none;
    height: 350px !important;//size of tht entire widget area
    margin-bottom:30px;
}
aside.home-middle-01.clearfix li{
	height:250px !important;
	top:30px !important;
}
aside.home-middle-01.clearfix li.soliloquy-active-slide + li+li{
	width:500px;
	img{
		// width:200px !important;
		// height: 200px !important;
	}	
	.soliloquy-caption{
		display: block;
		p{
			width:500px;
			font-size:1.8em;
			font-style:italic;
		}
		p:before{
			content: '"';
		}
		p:after{
			content: '"';
		}
	}
}
aside.home-middle-01.clearfix {
	.soliloquy-caption{
		display: none;
	}
}
aside.home-middle-01.clearfix .soliloquy-caption p{
	color:$corecom-blue;
}
aside.home-middle-01.clearfix .soliloquy-caption-inside {
	background-color:transparent !important;
}
.testimonials aside.home-middle-01.clearfix 
a.soliloquy-link {
    top: 60px;
}
.testimonials aside.home-middle-01.clearfix  section.widget,{
	height:100%;
}
.testimonials aside.home-middle-01.clearfix .soliloquy-viewport {
    height: 300px !important;
}
.testimonials aside.home-middle-01.clearfix .soliloquy-container .soliloquy-caption.soliloquy-caption-top {
    left: -145px !important;
    top: -30px !important;
}

