ul.post-meta,div#the-tagline {
	list-style-type: none;
	text-align:center;
	display: table;
	margin-left:auto;
	margin-right:auto;
	padding-bottom:20px;
	min-width: 320px;
	li:not(:first-child){
		display: none;
	}
	li{
		font-size: 1.2em;
		span.post-meta-key {
	    display: none;    
		}
	}
}
ul.post-meta:after,div#the-tagline:after {
  content:''; 
  width:50%;
  border-bottom: 3px solid $corecom-blue;
  display: block;
  margin-left:25%;
  margin-top: 15px; 
}
.entry-content p {
	@include rem(margin-bottom, 26px);
}

/* After Post */
.after-post {
	background:shade($light, 5%);
	border:1px solid shade($light, 15%);
	@include rem(padding, 10px);
	@include rem(margin-bottom, 50px);

}

/* Blockquotes */

	blockquote {
		@include rem(padding, 24px 64px);
	}

	blockquote::before {
		content: "“";
		display: block;
		height: 0;
		left: -20px;
		position: relative;
		top: -10px;
	}

	blockquote::before,
	blockquote p,
	 {
		color: shade($light, 50%);
	}

	blockquote::before {
		@include rem(font-size, 45px);
		@include rem(line-height, 58px);
	}


/* Lists */

	.entry-content ol,
	.entry-content ul {		
		@include rem(margin-bottom, 26px);
	}

	.entry-content ol li,
	.entry-content ul li {
		line-height: 1.625;
		@include rem(margin-left, 40px);
	}

	.entry-content ol li {
		list-style-type: decimal;
	}

	.entry-content ul li {
		list-style-type: disc;
	}

	.entry-content ol ol,
	.entry-content ul ul {
		margin-bottom: 0;
	}
	h4.widget-title.widgettitle,#contact-slider p.title{
		font-size: 18px;
		font-weight: bold;
		text-align: center;
		margin: 30px auto 0px;
		color:$color-extra
	}
div#home-middle-001 section.widget div.widget-wrap div.widget div.content .textwidget {
    margin-bottom: 30px;
    font-style: italic;
    opacity: 0.5;
}
	div#home-middle-01 section.widget .widget-wrap article:first-of-type{
		clear: both;
		margin-left: 0;
	}
	//stolen from the col classes in Genesis, 
	div.widget-wrap article.entry {
		width: 31.623931623931625%;
    	float:left;
    	margin-left: 2.564102564102564%;
    	background-color:transparent;
	}
	div.widget-wrap article:after{
   		content: '';
   		visibility: hidden;
	    display: block;
	    font-size: 0;
	    clear: both;
	    height: 0;
    }	
	//Makes More Link apear on its own link
	a.more-link{
		display: block;
	}
	//Icons size 
	div.textwidget a img {
    max-width: 75px;
}
//Featured Posts Heading
section.widget .widget-wrap div.widget .content article.entry header.entry-header h2.entry-title a {
    font-size: 16px;
    font-weight: bold;
}
//Featured Posts Text Content
section.widget .widget-wrap div.widget .content article.entry div.entry-content p {
    font-size: 14px;
}
div#testimonial-slider {
    width: 100%;
    background-image: url('./images/empowered-skyline.jpg');
    //max-height: 223px;
    text-align: center;
    vertical-align: middle;
    color: #fff;
    font-size:28px;
}
#contact-slider {		
	.map-text{
	    margin: auto;
	    position: relative;
	    left: 100px;
}
	p{
		text-align:left !important;
		white-space: nowrap;
	}

}
div.map-text p:nth-child(2){
    opacity: 0.65;
}
.gform_wrapper .top_label .gfield_label, .gform_wrapper .field_sublabel_below .ginput_complex.ginput_container label, .gform_wrapper .field_sublabel_below div[class*=gfield_time_].ginput_container label, .gform_wrapper .top_label .gfield_label{
	display: none !important;
}
.gform_wrapper{ 
	input,textarea,select{
		color:#fff !important;
		background-color:$corecom-grey !important;
	}
	input::-webkit-input-placeholder,textarea::-webkit-input-placeholder,select::-webkit-input-placeholder{
		color:#fff !important;
		background-color:$corecom-grey !important;
	}
}
div.corecom-gform_wrapper {
    width: 400px;
    float:right;
    :after{
    	content:' ';
    	clear:both;
    }
}
.ginput_container input {
    width: 100% !important;
}
.gform_wrapper .gform_footer{

}
#google-maps-canvas{
		max-width:none!important;
		background:none!important;
		font-size: inherit;
		width: 350px;
		height: 350px;
		margin:auto;
	}
.soliloquy-contact-caption-wrap {
	div#contact-caption-btn{
		margin-top: 15px;
		a.soliloquy-button{
			background-color: $corecom-grey;
			opacity: 0.85;
			padding: 5px;
			border:3px solid #fff;
			color:#fff;
			font-weight:bold;
		}
	}
	#contact-caption-head{
		border:3px solid #fff;
		background-color:rgba(255, 255, 255, 0.85);
	}
    text-align: center;
    width: 500px;
}
.soliloquy-container .soliloquy-caption {
    bottom: 20%;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    zoom: 1;
}
.soliloquy-container {
	max-width: none !important;
    margin-top: 20%;

}

.soliloquy-container .soliloquy .soliloquy-slides img {
	width: 100%;
}


.soliloquy-container .soliloquy-caption p,h1#caption-title {
	color: $textColor;

}
div#contact-caption-head{
	bottom: 20%	;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    zoom: 1;
}
.soliloquy-container .soliloquy-caption .soliloquy-caption-inside {
    padding: 0px !important;
}
div#soliloquy-caption-inside{
	    max-width: 410px;
	    margin-left: auto;
	    margin-right: auto;
	    background: rgba(255,255,255, 0.7);
	    border:3px solid #fff;
	h1#caption-title{
		font-size: 2em !important;
		margin-bottom: 7px !important;

	}
	p{
		padding-bottom: 7px !important;
	}
}
	div#contact-caption-btn{
		padding-top: 15px;

		a,a:visited,a:hover{
		    background-color: #a8b6bf;
		    opacity: 0.7;
		    padding: 3px;
		    border: 3px solid #fff;
		    color: white;
		    font-weight: bold;

		}
	}
	.testimonial-slider.widget-area section.widget {
    height: 223px;

}
div.testimonial-slider {
	.soliloquy-caption-inside{
		background-color:transparent !important;
	}
	img.soliloquy-image{
		display: none;
	}
	ul.soliloquy-slider{
		min-height:223px;
	}
	li.soliloquy-item{
	    background-image: url('./images/testimonial-slider-icon.png');
	    background-repeat: no-repeat;
	    background-position: top center;
	}
	.soliloquy-container .soliloquy-caption p, h1#caption-title{
		color:#fff;
    	position: relative;
    	top: -3em;

	}
	h2.soliloquy-fc-title{
		margin: 0px !important;
		font-size:0.75em !important;
	}
	ul.soliloquy-slider li.soliloquy-item.soliloquy-image-slide{
		min-height:223px;
	}
}

