ul.post-meta {
	list-style-type: none;
	text-align:center;
	display: table;
	margin-left:auto;
	margin-right:auto;
	padding-bottom:20px;
	li{
		font-size: 1.2em;
		span.post-meta-key {
	    display: none;    
		}
	}
}
ul.post-meta:after {
  content:''; 
  width:50%;
  border-bottom: 3px solid $corecom-blue;
  display: block;
  margin-left:25%;
  margin-top: 15px; 
}
.entry-content p {
	@include rem(margin-bottom, 26px);
}

/* After Post */
.after-post {
	background:shade($light, 5%);
	border:1px solid shade($light, 15%);
	@include rem(padding, 10px);
	@include rem(margin-bottom, 50px);

}

/* Blockquotes */

	blockquote {
		@include rem(padding, 24px 64px);
	}

	blockquote::before {
		content: "“";
		display: block;
		height: 0;
		left: -20px;
		position: relative;
		top: -10px;
	}

	blockquote::before,
	blockquote p,
	 {
		color: shade($light, 50%);
	}

	blockquote::before {
		@include rem(font-size, 45px);
		@include rem(line-height, 58px);
	}


/* Lists */

	.entry-content ol,
	.entry-content ul {		
		@include rem(margin-bottom, 26px);
	}

	.entry-content ol li,
	.entry-content ul li {
		line-height: 1.625;
		@include rem(margin-left, 40px);
	}

	.entry-content ol li {
		list-style-type: decimal;
	}

	.entry-content ul li {
		list-style-type: disc;
	}

	.entry-content ol ol,
	.entry-content ul ul {
		margin-bottom: 0;
	}
	h4.widget-title.widgettitle{
		text-align: center;
		margin: auto;
	}
	div#home-middle-01 section#featured-post-2 .widget-wrap article:first-of-type{
		background-color:pink !important;
		clear: both;
		margin-left: 0;
	}
	div.widget-wrap article.entry {
		width: 31.623931623931625%;
    	float:left;
    	margin-left: 2.564102564102564%;


	}
	div.entry-content p {
    text-align: left;
	}
	a.more-link{
		display: block;
	}
