//
// Variables
// --------------------------------------------------

// Color Scheme
$color-base: 			#E5EBE6 !default;
$color-primary: 		#5B8D96 !default;
$color-secondary: 		#C45A3F !default;
$color-cta: 			#4B7DA2 !default;
$color-extra: 			#4B7DA2 !default;
//////////////////CORECOM CUSTOM COLLORS///////////
$corecom-color:			#5D5D5E !default;
$corecom-blue:			#39719A !default;
$corecom-grey:			#A8B6BF !default;
$textColor:             #5D5D5E !default;
///////////////////////Corecom font family////////
$source:			"source-sans-pro",sans-serif !default;
$tisa:			"ff-tisa-sans-web-pro",sans-serif !default;
//////////////////////////////////////////////////
// Light and Dark
// -------------------------
$dark:                 $textColor !default;
$light:                 #fff !default;

// Typography
// -------------------------
$googleFont:            $tisa !default; // Page Title,
$sansFontFamily:        $tisa !default;//most of the font on the site
$serifFontFamily:       $tisa !default;

$baseFontFamily:        $tisa !default;//header menu,metatext,content,widget text,featured posts text,footer

$googleFontWeight:      400 !default; // 400 or 700
